@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

// base styles
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-black uppercase text-red tracking-wide;
  }
  h1 {
    @apply text-4xl md:text-4xl lg:text-6xl;
  }
  h2 {
    @apply text-xl md:text-3xl lg:text-5xl;
  }
  h3 {
    @apply text-lg md:text-2xl lg:text-[2.5rem];
  }
  h4 {
    @apply text-base md:text-xl lg:text-4xl;
  }
  h5 {
    @apply text-sm md:text-lg lg:text-3xl;
  }
  h6 {
    @apply text-xs md:text-base lg:text-2xl;
  }
  ul {
    @apply list-square ml-4;
  }
  header,
  footer,
  nav {
    ul {
      @apply list-none ml-0;
    }
  }
}

.split-columns {
  --container-width: 640px;
  @media (min-width: 640px) {
    --container-width: 640px;
  }
  @media (min-width: 768px) {
    --container-width: 768px;
  }
  @media (min-width: 940px) {
    --container-width: 940px;
  }

  grid-template-columns:
    auto
    calc(var(--container-width) * (3 / 10))
    calc(var(--container-width) * (7 / 10))
    auto;
}
.split-columns-alt {
  --container-width: 640px;
  @media (min-width: 640px) {
    --container-width: 640px;
  }
  @media (min-width: 768px) {
    --container-width: 768px;
  }
  @media (min-width: 940px) {
    --container-width: 940px;
  }
  grid-template-columns: 30% 70%;
}

@layer components {
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.25em;
    }

    &--small {
      h2 {
        @apply text-2xl md:text-3xl;
      }
      h3 {
        @apply text-xl md:text-2xl;
      }
      p {
        @apply text-sm;
      }
    }
    &--white {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-white;
      }
    }
    &--blue {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-blue-500;
      }
      p {
        @apply text-blue-500;
      }
    }
  }

  .btn {
    @apply inline-flex items-center  font-bold uppercase transition-all gap-4;
    .btn-text {
      position: relative;
      top: 0.1em;
    }

    &--primary {
      @apply bg-blue-500 hover:bg-blue-700 text-white;
    }
    &--secondary {
      @apply bg-red-500 hover:bg-red-600 text-white;
    }
    &--tertiary {
      @apply bg-blue-400 hover:bg-blue-300 text-white;
    }
    &--outline {
      @apply bg-transparent hover:bg-red-500 text-red-500 hover:text-white border-2 border-red-500;
    }
    &--text {
      @apply bg-transparent hover:bg-transparent text-red-500;
    }
    &--xs {
      @apply py-0 px-2 text-xs;
      svg {
        @apply w-5 h-5;
      }
      .start-icon {
        @apply mr-1;
      }
      .end-icon {
        @apply ml-1;
      }
    }
    &--sm {
      @apply py-1 px-4 text-sm;

      svg {
        @apply w-6 h-6;
      }
    }
    &--md {
      @apply py-2 px-4 text-base;
      svg {
        @apply w-6 h-7;
      }
      .start-icon {
        @apply mr-2;
      }
      .end-icon {
        @apply ml-2;
      }
    }
    &--lg {
      @apply py-4 px-5 text-lg;
      svg {
        @apply w-8 h-8;
      }
      .start-icon {
        @apply mr-5;
      }
      .end-icon {
        @apply ml-5;
      }
    }
    &--xl {
      @apply py-4 px-6 text-xl;
      svg {
        @apply w-10 h-10;
      }
      .start-icon {
        @apply mr-5;
      }
      .end-icon {
        @apply ml-5;
      }
    }
  }
}
.richText,
.markdown {
  p {
    @apply mt-4;
  }
  p + h1,
  p + h2,
  p + h3 {
    @apply mt-6;
  }
  a {
    @apply text-blue-400;
  }
}
