@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

// base styles
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-black uppercase text-red tracking-wide;
  }
  h1 {
    @apply text-4xl md:text-4xl lg:text-6xl;
  }
  h2 {
    @apply text-xl md:text-3xl lg:text-5xl;
  }
  h3 {
    @apply text-lg md:text-2xl lg:text-5xl;
  }
  h4 {
    @apply text-base md:text-xl lg:text-4xl;
  }
  h5 {
    @apply text-sm md:text-lg lg:text-3xl;
  }
  h6 {
    @apply text-xs md:text-base lg:text-2xl;
  }
  ul {
    @apply list-square ml-4;
  }
  header,
  footer,
  nav {
    ul {
      @apply list-none ml-0;
    }
  }
}

.split-columns {
  --container-width: 640px;
  @media (min-width: 640px) {
    --container-width: 640px;
  }
  @media (min-width: 768px) {
    --container-width: 768px;
  }
  @media (min-width: 1024px) {
    --container-width: 940px;
  }

  grid-template-columns:
    auto
    calc(var(--container-width) * (3 / 10))
    calc(var(--container-width) * (7 / 10))
    auto;
}
.split-columns-alt {
  --container-width: 640px;
  @media (min-width: 640px) {
    --container-width: 640px;
  }
  @media (min-width: 768px) {
    --container-width: 768px;
  }
  @media (min-width: 940px) {
    --container-width: 940px;
  }
  grid-template-columns: 30% 70%;
}

@layer components {
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.25em;
    }

    &--small {
      h2 {
        @apply text-2xl md:text-3xl;
      }
      h3 {
        @apply text-xl md:text-2xl;
      }
      p {
        @apply text-sm;
      }
    }
    &--white {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-white;
      }
    }
    &--blue {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-blue-500;
      }
      p {
        @apply text-blue-500;
      }
    }
  }
}
